
body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


h1 {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 30px;
}

.sous-titre {
    color: red;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.plateau {
    background-color: #2b2b2b;
    padding: 30px;
    border-radius: 20px;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}


.case {
    background-color: #ce1126;
    width: 60px;
    height: 60px;
    border-radius: 12px;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}


.case:hover {
    opacity: 0.8;
}


.case img {
    width: 100%;        
    height: auto;       
    display: block;
}

